<div class="card h-100 shadow">
    <div class="card-body">
        <h5 class="card-title text-truncate">{{note?.title || "NA"}}</h5>
        <p class="card-text text-truncate">{{note?.content || "NA"}}</p>
        <!-- <p class="card-text text-wrap"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
        <p class="card-text text-wrap"><small class="text-body-secondary">Created on {{date |
                date:'dd-MM-YYYY'}}</small></p>

        <div class="text-end">
            <button class="btn btn-link icon-link icon-link-hover" (click)="openViewNoteModal()">
                <i class="bi bi-eye-fill text-muted"></i>
            </button>
            <button class="btn btn-link icon-link icon-link-hover" (click)="onShareClick(note)">
                <i class="bi bi-share"></i>
            </button>
            <button class="btn btn-link icon-link icon-link-hover" (click)="onEditClick(note)"><i
                    class="bi bi-pencil-square text-primary"></i>
            </button>
            <button class="btn btn-link icon-link icon-link-hover" (click)="onDeleteClick(note)"><i
                    class="bi bi-trash text-danger"></i>
            </button>
        </div>
        <div class="input-group mb-3 input-group-sm" *ngIf="_isShared">
            <input type="text" class="form-control form-control-sm" placeholder="" aria-describedby="button-addon2"
                readonly [value]="_shareLink" #shareLinkInput>
            <button class="btn btn-outline-secondary icon-link-hover" type="button"
                (click)="copyToClipboard(shareLinkInput)"><i class="bi bi-copy"></i></button>
        </div>
    </div>
</div>

<div class="modal fade" id={{_viewNotesModalId}} data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="viewNotesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-wrap" id="viewNotesLabel">{{note?.title || "NA"}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeViewNoteModal()"></button>
            </div>
            <div class="modal-body">

                <p class="card-text text-wrap">{{note?.content || "NA"}}</p>
                <!-- <p class="card-text text-wrap"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closeViewNoteModal()">Close</button>
            </div>
        </div>
    </div>
</div>